body{
font-family:Poppins;
margin:0;
background:#0f172a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
position:fixed;
width:100%;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:120px 10%;
}

.hero-right img{
width:400px;
border-radius:20px;
}

.tech-track{
display:flex;
gap:60px;
animation:scroll 20s linear infinite;
}

.tech-track img{
height:60px;
}

@keyframes scroll{
0%{transform:translateX(0);}
100%{transform:translateX(-50%);}
}

.project-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:50px;
}

.project-card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.contact-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:50px;
}

.contact-card{
background:#1e293b;
height:120px;
display:flex;
align-items:center;
justify-content:center;
}

.contact-card img{
width:60px;
height:60px;
}